<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<bean name="aclInfoAction" class="com.lhq.prj.bms.action.AclInfoAction" scope="prototype">
		<property name="aclInfoService" ref="aclInfoService" />
	</bean>
	<bean name="actXxAction" class="com.lhq.prj.bms.action.ActXxAction" scope="prototype">
		<property name="actXxService" ref="actXxService" />
        <property name="tagService" ref="tagService" />
	</bean>
	<bean name="ejDocumentsAction" class="com.lhq.prj.bms.action.EjDocumentsAction" scope="prototype">
		<property name="ejDocumentsService" ref="ejDocumentsService" />
	</bean>
	<bean name="homeJsAction" class="com.lhq.prj.bms.action.HomeJsAction" scope="prototype">
		<property name="homeJsService" ref="homeJsService" />
	</bean>
	<bean name="lineIgoAction" class="com.lhq.prj.bms.action.LineIgoAction" scope="prototype">
		<property name="lineIgoService" ref="lineIgoService" />
	</bean>
	<bean name="lmBaxyAction" class="com.lhq.prj.bms.action.LmBaxyAction" scope="prototype">
		<property name="lmBaxyService" ref="lmBaxyService" />
        <property name="tagService" ref="tagService" />
	</bean>
	<bean name="logInfoAction" class="com.lhq.prj.bms.action.LogInfoAction" scope="prototype">
		<property name="logInfoService" ref="logInfoService" />
	</bean>
	<bean name="mailInfoAction" class="com.lhq.prj.bms.action.MailInfoAction" scope="prototype">
		<property name="mailInfoService" ref="mailInfoService" />
	</bean>
	<bean name="memberGzAction" class="com.lhq.prj.bms.action.MemberGzAction" scope="prototype">
		<property name="memberGzService" ref="memberGzService" />
	</bean>
	<bean name="memberJfgzAction" class="com.lhq.prj.bms.action.MemberJfgzAction" scope="prototype">
		<property name="memberJfgzService" ref="memberJfgzService" />
	</bean>
	<bean name="netXxAction" class="com.lhq.prj.bms.action.NetXxAction" scope="prototype">
		<property name="netXxService" ref="netXxService" />
	</bean>
	<bean name="photoPzAction" class="com.lhq.prj.bms.action.PhotoPzAction" scope="prototype">
		<property name="photoPzService" ref="photoPzService" />
	</bean>
	<bean name="spBrandAction" class="com.lhq.prj.bms.action.SpBrandAction" scope="prototype">
		<property name="spBrandService" ref="spBrandService" />
	</bean>
	<bean name="spggAction" class="com.lhq.prj.bms.action.SpggAction" scope="prototype">
		<property name="spggService" ref="spggService" />
	</bean>
	<bean name="sysSearchAction" class="com.lhq.prj.bms.action.SysSearchAction" scope="prototype">
		<property name="sysSearchService" ref="sysSearchService" />
	</bean>
	<bean name="tbCityAction" class="com.lhq.prj.bms.action.TbCityAction" scope="prototype">
		<property name="tbCityService" ref="tbCityService" />
	</bean>
	<bean name="tbInboxAction" class="com.lhq.prj.bms.action.TbInboxAction" scope="prototype">
		<property name="tbInboxService" ref="tbInboxService" />
	</bean>
	<bean name="tsjyAction" class="com.lhq.prj.bms.action.TsjyAction" scope="prototype">
		<property name="tsjyService" ref="tsjyService" />
	</bean>
	<bean name="userEjAction" class="com.lhq.prj.bms.action.UserEjAction" scope="prototype">
		<property name="userEjService" ref="userEjService" />
	</bean>
	<bean name="userInfoAction" class="com.lhq.prj.bms.action.UserInfoAction" scope="prototype">
		<property name="userInfoService" ref="userInfoService" />
	</bean>
	<bean name="xtModuleAction" class="com.lhq.prj.bms.action.XtModuleAction" scope="prototype">
		<property name="xtModuleService" ref="xtModuleService" />
	</bean>
	<bean name="yqljAction" class="com.lhq.prj.bms.action.YqljAction" scope="prototype">
		<property name="yqljService" ref="yqljService" />
	</bean>


    <bean name="tagAction" class="com.ibaby.www.action.TagAction" scope="prototype">
		<property name="tagService" ref="tagService" />
	</bean>

    <bean name="articleAction" class="com.ibaby.www.action.ArticleAction" scope="singleton">
		<property name="articleService" ref="articleService" />
        <property name="tagService" ref="tagService" />
	</bean>
    <bean name="activityAction" class="com.ibaby.www.action.ActivityAction" scope="singleton">
		<property name="tagService" ref="tagService" />
        <property name="activityService" ref="activityService" />
	</bean>
</beans>
