<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<bean id="aclInfoDao" class="com.lhq.prj.bms.dao.impl.AclInfoDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="actXxDao" class="com.lhq.prj.bms.dao.impl.ActXxDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="baTypeDao" class="com.lhq.prj.bms.dao.impl.BaTypeDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="ejDocumentsDao" class="com.lhq.prj.bms.dao.impl.EjDocumentsDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="homeJsDao" class="com.lhq.prj.bms.dao.impl.HomeJsDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="lineIgoDao" class="com.lhq.prj.bms.dao.impl.LineIgoDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="lmBaxyDao" class="com.lhq.prj.bms.dao.impl.LmBaxyDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="logInfoDao" class="com.lhq.prj.bms.dao.impl.LogInfoDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="logMemoDao" class="com.lhq.prj.bms.dao.impl.LogMemoDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="mailInfoDao" class="com.lhq.prj.bms.dao.impl.MailInfoDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="memberGzDao" class="com.lhq.prj.bms.dao.impl.MemberGzDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="memberJfgzDao" class="com.lhq.prj.bms.dao.impl.MemberJfgzDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="netXxDao" class="com.lhq.prj.bms.dao.impl.NetXxDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="photoPzDao" class="com.lhq.prj.bms.dao.impl.PhotoPzDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="spBrandDao" class="com.lhq.prj.bms.dao.impl.SpBrandDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="spggDao" class="com.lhq.prj.bms.dao.impl.SpggDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="spTypeDao" class="com.lhq.prj.bms.dao.impl.SpTypeDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="sysSearchDao" class="com.lhq.prj.bms.dao.impl.SysSearchDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="tbCityDao" class="com.lhq.prj.bms.dao.impl.TbCityDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="tbInboxDao" class="com.lhq.prj.bms.dao.impl.TbInboxDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="tsjyDao" class="com.lhq.prj.bms.dao.impl.TsjyDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="userEjDao" class="com.lhq.prj.bms.dao.impl.UserEjDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="userInfoDao" class="com.lhq.prj.bms.dao.impl.UserInfoDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="xtModuleDao" class="com.lhq.prj.bms.dao.impl.XtModuleDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="yqljDao" class="com.lhq.prj.bms.dao.impl.YqljDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

    <bean id="tagDao" class="com.ibaby.www.dao.impl.TagDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
    <bean id="articleDao" class="com.ibaby.www.dao.impl.ArticleDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
</beans>
